<head><title>Teste</title><head>
<body>
  {{#if contato}}
  <h1>Contato: {{contato.nome}}</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Informações do contato</h3>
    </div>
    <div class="panel-body">
      <p><strong>E-mail:</strong> {{contato.email}}</p>
      <p><strong>Data de aniversário:</strong> {{contato.aniversario}}</p>
      <p><strong>Telefone fixo:</strong> {{contato.telefonefixo}}</p>
      <p><strong>Telefone celular:</strong> {{contato.telefonecelular}}</p>
      <p><strong>Telefone comercial:</strong> {{contato.telefonecomercial}}</p>
      <hr/>
      <p><strong>Data de cadastro:</strong> {{contato.datacadastro}}</p>
    </div>
  </div>
  {{else}}
    <h1>Usuario não encontrado!</h1>
  {{/if}}
  <a href="/" class="btn btn-sm btn-primary">Voltar para contatos</a>
</body>
